:root {
  --button-text-black: #131415;
  --nav-color-white: #dee7ec;
  --button-light-color: #0f5477;
  --button-light: #fff;
  --color-primary-white: #e8eff2;
  --color-primary-white-light: #b4b5b5;
  --color-primary-black: #08090a;
  --color-button-green: #0c8c5e;
  --color-light-green: #12936e;
  --color-bg-button: #efefef;
  --color-bg-light-hero: #044868;
  --bg-color-email: #64aca7;
  --bg-color-knowledge:#f7f7f7;
  --text-color--img:#e2e6e7;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  color: var(--color-primary-white);
}
.max-width {
  max-width: 70%;
  margin: auto;
}
header nav {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 18px;
  color: var(--nav-color-white);
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
}
header nav ul li {
  font-weight: 600;
}
.main-container {
  background-image: url(assets/bg-light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 1215px;
}

.right-nav {
  display: flex;
  gap: 10px;
  width: 248px;
}
.left-nav {
  display: flex;
  width: 740px;
  justify-content: space-between;
}
.contact-btn {
  all: unset;
  background-color: var(--button-light-color);
  color: var(--color-primary-white);
  border-radius: 20px;
  width: 123px;
  height: 33px;
  font-size: 15px;
  text-align: center;
}

.start-btn {
  all: unset;
  background-color: var(--button-light);
  color: var(--button-text-black);
  border-radius: 20px;
  font-weight: 500;
  width: 120px;
  height: 33px;
  font-size: 15px;
  text-align: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section > div:nth-child(1) {
  width: 379px;
  height: 30px;
  padding: 0px 8px 0px 4px;
  margin: 30px 0px;
  background-color: var(--color-bg-light-hero);
  border-radius: 20px;
}
.hero-section > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 2px;
}

.hero-section > div:nth-child(1) > div:nth-child(1) button {
  color: var(--button-light);
  border-radius: 20px;
  padding: 2px 6px;
  border: 1px solid var(--color-button-green);
  background-color: var(--color-button-green);
}
.hero-section > div:nth-child(1) > div:nth-child(1) div {
  letter-spacing: -0.025em;
  font-size: 14px;
}
.hero-section > div:nth-child(1) > div:nth-child(1) img {
  filter: brightness(0) invert(1);
}
.hero-section > div:nth-child(2) {
  width: 688px;
  height: 141px;
  font-size: 60px;
  padding: 10px;
  line-height: 65px;
  text-align: center;
  font-weight: 600;
}
.hero-section > div:nth-child(3) {
  width: 472px;
  height: 54px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  margin:36px 0px;
}
.hero-section > div:nth-child(4) {
  width: 360px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6px 0px 10px;
  border-radius: 20px;
  background-color: var(--bg-color-email);
  border: 2px solid var(--bg-color-email);
  margin-bottom: 90px;
}
.hero-section > div:nth-child(4) input {
  all: unset;
  width: 250px;
}
.hero-section > div:nth-child(4) input::placeholder{
  color: #a3c9c6;
}
.hero-section > div:nth-child(4) input:focus{
  all:unset
}
.hero-section > div:nth-child(4) div {
  background-color: var(--button-light);
  color: var(--button-text-black);
  border-radius: 20px;
  font-weight: 500;
  width: 94px;
  height: 33px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img{
  display: flex;
  justify-content: center;
}
.rounded-corners{
  border-radius: 10px;
  /* border: 1px solid red; */
}
.sponsers{
  /* width: 100%; */
  padding: 72px 32px 144px 32px;
  height: 72px;
  display: flex;
  justify-content: center;
    margin-bottom: 144px;
}
.sponsers-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 1024px;
  height: 156px;
  gap:10px;
  padding: 72px 32px 144px 32px;
  grid-template-rows: repeat(2,1fr);

  
  justify-content: center;
}
.grid-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px 0px;
}

.ai-section{
  width: 1024px;
  height: 204px;
  padding: 48px 32px;
  display: flex;  
  justify-content: center;
  margin: auto;
}
.ai-section #title{
  text-align: center;
  margin: 20px 0px;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}
.ai-section #desc{
  width: 600px;
  height: 48px;
  text-align: center;
  line-height: 25px;
  color: var(--color-primary-black);
}

.card-section{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.cards{
  width: 1024px;
  height: 535px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.card{
  width: 495px;
  height: 535px;
  border: 1px solid var(--color-primary-white);
  border-radius: 24px;
  padding: 20px;
  color: var(--button-text-black);
}

.card > div:nth-child(1){
  font-size: 12px;
  font-weight: 500;
  width: 433px;
  margin: 16px 0px;
}

.card > div:nth-child(2){
  font-size: 24px;
  font-weight: 500;
  width: 433px;
   margin: 16px 0px;
}
.card > div:nth-child(3){
  font-weight: 400;
  font-size: 18px;
  width: 433px;
  margin: 16px 0px;
}

.assistant{
  width: 1024px;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-primary-white);
  /* border: 1px solid red; */
  margin: auto;
  border-radius: 24px;
  /* padding-bottom: 100px; */
}

.assistant-div{
  padding: 38px 32px 0px 32px;
}

.assistant-div > div:nth-child(1){
  width: 1010px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#assistant{
  font-size: 12px;
  font-weight: 500;
  /* margin: 48px 0px 40px 0px; */
}

#assistant-title{
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary-black);
   margin: 16px 0px;
}

#assistant-desc{
  width: 640px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

#img-tag{
  border-radius: 24px;
}


.knowledge-section{
  background-color: var(--bg-color-knowledge);
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  /* color: var(--button-text-black); */
}
.inside-section{
  width: 100%;
  padding: 0px 60px;
}

#inside-section-title{
  font-size: 40px;
  font-weight: 600;
}

#inside-section-button{
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  width: 180px;
  padding-top: 12px;
  
}
#inside-section-button:hover{
  cursor: pointer;
}

#left-card{
  width: 502px;
  height: 178px;
}

#cards-knw{
  display: flex;
  padding: 20px 60px;
  gap:40px;
  width: 100%;
  
}

#story-img{
  width: 1178px;
  /* height: 596px; */
  padding: 60px;
  /* border: 2px solid green; */
}

.img-div{
  background-image: url(assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 596px;
  padding: 80px;
}

.img-div:hover{
  filter: brightness(60%); 
  cursor: pointer;
}

.companies{
  width: 100%;
  padding: 0px 100px;
}

.companies div{
  width: 140px;
  height: 64px;
}

#industry{
  width: 100%;
  
}

#container-1{
  width: 1024px;
  height: 238px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
}

#industry-cards{
  width: 410px;
  height: 417px;
  padding: 10px;
}

/* .card-indstry:hover{
  filter: brightness(60%);
} */

.card-indstry{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;

}
/* .indstry-btn{
  color: #696a7b;
  font-weight: 500;
}
.indstry-btn:hover{
  color:#12936e
} */

.read:hover{
  color:#12936e;
}

.demo-btn{
  background-color: var(--button-light);
  color: var(--button-text-black);
  width: 137px;
  height: 44px;
  padding: 10px 24px;
  border: 1px solid #b4b5b5;
  border-radius: 20px;
}

.logos ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
.footer-list div{
  width: 191px;
  height: 225px;
}
.footer-list ul{
  list-style: none;
  color: var(--button-text-black);

}
.footer-list ul li{
  margin: 20px 0px ;
}


/* this is how we can give the property to each child except first */
.footer-list ul li:not(:first-child){
  color: var(--button-text-black);
  font-weight: 500;
  font-size: 14px;
}

.footer-btn{
  color: var(--button-text-black);
  background-color: var(--color-bg-button);
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap:4px;
  border-radius: 20px;

}